@use "../../../scss/" as *;

.user-area-chart {
  flex: 4;

  margin-left: 2rem;
  padding: 2rem;
  color: gray;

  .chart-select {
    margin-bottom: 1.2rem;
    // text
    color: $admin-text-color;
    font-family: "Nunito", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;

    .MuiSelect-select {
      padding: 0 2.3rem 0 0;
    }

    svg {
      color: $admin-main-color;
      font-size: 2rem;
    }

    fieldset {
      border: none;
    }
  }
}

// Select options
.MuiPaper-root {
  border-radius: 0.25rem;
  margin-top: 0.25rem;

  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    margin: 0 0.5rem;
    border-radius: 0.25rem;
    font-family: "Nunito", sans-serif;
    color: $admin-text-color;
    font-weight: 600;

    &:hover {
      background-color: $admin-hover-color;
    }
  }

  .Mui-selected {
    background-color: $admin-main-color;
    color: white;

    &:hover {
      background-color: $admin-main-color;
      opacity: 0.8;
    }

    &:active {
      background-color: $admin-main-color;
    }
  }

  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
    background-color: $admin-main-color;
  }
}
