@use "../../../scss/" as *;

.admin-header-container {
  flex: 0 1 auto;
  background-color: white;
  padding: 1rem 2rem;

  .profile {
    float: right;
    display: flex;
    align-items: center;
    color: #b2b1b9;

    .circular-avatar {
      width: 30px;
      height: 30px;
    }

    .username {
      padding: 0 1.5rem 0 0.75rem;
      color: $admin-main-color;
      font-size: 1.2rem;
    }

    svg {
      padding: 0.5rem;
      border-radius: 5px;
      transition: all 0.2s;

      &:hover {
        background-color: rgba(255, 0, 0, 0.05);
        color: #eb1d36;
      }

      &:active {
        background-color: rgba(255, 0, 0, 0.15);
        color: #eb1d36;
      }
    }
  }
}
