@use "../../../scss/" as *;

.movie-search-row-container {
  display: flex;
  margin-bottom: 0.75rem;

  transition: all 0.2s;

  &:hover {
    .movie-search-row-image-wrapper {
      opacity: 1;
    }

    .movie-search-row-detail-wrapper {
      .movie-search-row-title {
        color: $admin-main-color;
      }
    }
  }

  .movie-search-row-image-wrapper {
    flex-shrink: 0;
    height: 5rem;
    margin-right: 1rem;
    opacity: 0.8;

    img {
      height: 100%;
      border-radius: 2px;
    }
  }

  .movie-search-row-detail-wrapper {
    .movie-search-row-title {
      font-size: 1rem;
      color: black;
    }

    .movie-search-row-sub-title {
      font-size: 0.8rem;
      color: $admin-text-color;
    }
  }
}
