@use "../../../scss/" as *;

.season-cell-container {
  position: relative;
  font-size: 0.8rem;

  .thumbnail-container {
    position: relative;

    img,
    .default-thumbnail {
      width: 100%;
      border-radius: 12px;
    }

    .default-thumbnail {
      aspect-ratio: 16 / 9;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($color: gray, $alpha: 0.05);

      i {
        font-size: 3.5rem;
      }
    }
  }

  .season-info-container {
    color: #989898;
    font-size: 0.75rem;

    .season-mini-info {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 8px;

      .mini-info-item {
        &:nth-child(2) {
          margin-left: auto;
          margin-right: 0.8em;
        }
      }
    }

    .season-title {
      color: whitesmoke;
      font-size: 1rem;
      font-weight: 400;
    }

    .season-overview {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &:hover {
    .small-play-button {
      transform: translate(-50%, -50%) scale(1);
    }

    .overlay-component-container {
      opacity: 1;
    }
  }
}

@include mobile {
  .season-info-container {
    font-size: 0.9rem;
  }
}
