.season-cell-container {
  position: relative;
  font-size: 0.8rem;

  .thumbnail-container {
    position: relative;

    img,
    .default-thumbnail {
      width: 100%;
      border-radius: 12px;
    }

    .default-thumbnail {
      aspect-ratio: 16 / 9;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($color: gray, $alpha: 0.05);

      i {
        font-size: 3.5rem;
      }
    }
  }

  .season-info-container {
    color: #989898;

    label {
      color: white;
      font-size: 1.2rem;
      font-weight: 500;
    }

    .season-mini-info {
      margin-top: 5px;

      span {
        padding-right: 0.8em;
        float: right;
      }

      .episode-number {
        float: left;
      }
    }
  }

  &:hover {
    .small-play-button {
      transform: translate(-50%, -50%) scale(1);
    }

    .overlay-component-container {
      background-color: rgba($color: #0f0f0f, $alpha: 0.4);
    }
  }
}
