@use "../../../scss/" as *;

.data-page-container {
  flex: 1 1 auto;
  padding: 1.5rem;
  height: 100%;

  .data-page-top-container {
    display: flex;

    h1 {
    }

    button {
      margin-left: auto;
      align-self: center;
    }
  }

  .data-page-table-container {
    height: 90%;
    margin-top: 1rem;
    border-radius: 0.25rem;
  }
}
