@use "../../../scss/" as *;

.data-page-container {
  flex: 1 1 auto;
  padding: 1.5rem;
  height: 100%;

  .data-page-top-container {
    display: flex;
    flex-direction: column;

    h1 {
      margin: 0;
      line-height: 1;
    }
    .data-page-tool-bar {
      display: flex;
      margin-top: 1.5rem;
      position: relative;

      .view-items-search-bar {
        width: 25%;
      }

      button {
        margin-left: auto;
        align-self: flex-end;
      }
    }
  }

  .data-page-table-container {
    height: 85%;
    margin-top: 1rem;
    border-radius: 0.25rem;
  }
}
