@use "../../../scss/" as *;

.data-page-container {
  flex: 1 1 auto;
  padding: 1.5rem;
  height: 100%;

  .data-page-top-container {
    display: flex;
    flex-direction: column;

    h1 {
      margin: 0;
      line-height: 1;
    }
    .data-page-tool-bar {
      display: flex;
      margin-top: 1.5rem;
      position: relative;

      form {
        position: relative;
        width: 25%;

        .search-icon-wrapper {
          color: #9e9ea7;
          svg {
            position: absolute;
            top: 50%;
            transform: translate(11px, -50%);
          }
        }

        input {
          width: 100%;
          padding: 0.4rem 1rem 0.4rem 36px;
          border-radius: 0.5rem;
          border: 1px solid transparent;
          background-color: #f3f3f4;
          font-family: "Nunito", sans-serif;
          font-size: 0.9rem;
          color: #0d0c22;
          transition: all 0.2s;

          &::placeholder {
            color: #9e9ea7;
          }

          &:hover {
            box-shadow: 0 0 0 3px rgba($color: $admin-main-color, $alpha: 0.2);
          }

          &:focus {
            border: 1px solid rgba($color: $admin-main-color, $alpha: 0.6);
            box-shadow: 0 0 0 3px rgba($color: $admin-main-color, $alpha: 0.2);
          }
        }
      }

      button {
        margin-left: auto;
        align-self: flex-end;
      }
    }
  }

  .data-page-table-container {
    height: 85%;
    margin-top: 1rem;
    border-radius: 0.25rem;
  }
}
