@use "../../scss/" as *;

.sidebar-container {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;

  .logo-section {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 2em;
      font-weight: bold;
      color: $admin-logo-color;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .main-section {
    padding: 0 0.25em;

    ul {
      .group-header {
        padding-left: 0.5em;
        margin-top: 1.25em;
        margin-bottom: 0.3em;
        font-size: 0.8em;
        font-weight: bold;
        color: $admin-header-color;
      }

      li {
        padding: 5px;
        padding-left: 1em;
        display: flex;
        align-items: center;
        border-radius: 0.25em;
        cursor: pointer;
        // text
        font-weight: 600;
        // animation
        transition: background-color 0.2s;

        &.selected {
          background-color: $admin-main-color;
          color: white;

          &:hover {
            background-color: $admin-main-color;
            color: white;
          }

          svg {
            color: white;
          }
        }

        &:hover {
          background-color: $admin-hover-color;
          color: $admin-text-color;
        }

        svg {
          margin-right: 10px;
          width: 1em;
          color: $admin-main-color;
          font-size: 1rem;
        }
      }
    }
  }
}
