@use "../../scss/" as *;

.season-select {
  .MuiSelect-select {
    border-radius: 0.3rem;
    color: whitesmoke;
    font-family: $font-family;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: normal;
  }

  .MuiSvgIcon-root {
    color: whitesmoke;
  }

  &,
  &:hover,
  &:active,
  &.Mui-focused {
    .MuiOutlinedInput-notchedOutline {
      border-color: transparent;
    }
  }
}

.season-list {
  --swiper-navigation-color: white;
}
