@use "../../scss/" as *;

.admin-season-grid-toolbar {
  background-color: #f9fbfc;

  .MuiTabs-root {
    .MuiTab-root {
      text-transform: capitalize;

      &.Mui-selected {
        color: $main-color;
      }
    }

    .MuiTabs-indicator {
      background-color: $main-color;
    }
  }

  .tabs-container {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .season-grid-toolbar-button {
    color: $main-color;
  }

  .season-detail-inputs {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;

    ._id-season-input,
    .title-season-input,
    .posterUrl-season-input {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .title-season-input {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .seasonNumber-season-input,
    .releaseDate-season-input {
      grid-row-start: 3;
      grid-row-end: 4;
    }

    .overview-season-input {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 5;
    }

    .posterUrl-season-input {
      // align-self: flex-start;
      align-self: flex-end;
    }

    .backdropUrl-season-input {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }
}
