.upcoming-role-cell,
.released-role-cell {
  width: 5rem;
  padding: 0.25rem;
  border-radius: 5px;
  text-align: center;
  float: inline-end;
}

.upcoming-role-cell {
  color: goldenrod;
  background-color: rgba(189, 189, 3, 0.103);
}

.released-role-cell {
  color: green;
  background-color: rgba(0, 128, 0, 0.151);
}
