@use "../../../scss/" as *;

.add-button {
  height: fit-content;
  padding: 0.5rem 0.75rem;
  background-color: $admin-main-color;
  border: 1px solid transparent;
  border-radius: 0.45rem;
  // text
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  // animation
  transition: all 0.2s;

  svg {
    margin-right: 0.75rem;
  }

  &:hover {
    color: white;
    background-color: rgba($color: $admin-main-color, $alpha: 0.8);
  }

  &:active {
    transform: scale(1.2, 1.2);
  }
}
