@use "../../scss/" as *;

.admin-layout-container {
  position: relative;
  font-family: "Nunito", sans-serif;
  color: $admin-text-color;

  .admin-layout-content-container {
    margin-top: $admin-header-height;
    margin-left: $admin-sidebar-desktop-width;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
}

@include tablet {
  .admin-layout-container {
    .admin-layout-content-container {
      margin-left: $admin-sidebar-tablet-width;
    }
  }
}

@include mobile {
  .admin-layout-container {
    .admin-layout-content-container {
      margin-bottom: $admin-sidebar-mobile-height;
      margin-left: 0;
    }
  }
}

.widget {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 1rem;
}
