@use "../../scss/" as *;

.main-select-menu {
  .MuiPaper-root {
    background-color: rgba($color: #212121, $alpha: 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    margin-top: 0.25rem;

    .MuiMenuItem-root {
      font-weight: 400;
      color: whitesmoke;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.7);
      }
    }

    .MuiMenuItem-root.Mui-selected {
      background-color: rgba($color: #000000, $alpha: 0.95);
    }
  }
}
