@use "../../../scss/" as *;

.upsert-input {
  width: 100%;
  margin-top: 1rem;

  & label.Mui-focused {
    color: $admin-main-color;
  }

  // & .MuiInput-underline:after {
  //   border-bottom-color: $admin-main-color;
  // }

  & .MuiOutlinedInput-root {
    &:hover fieldset {
      border-color: rgba($color: $admin-main-color, $alpha: 0.6);
    }

    &.Mui-focused fieldset {
      border-color: rgba($color: $admin-main-color, $alpha: 0.6);
    }
  }
}

// .css-b7k0tb-MuiAutocomplete-listbox {
//   .MuiAutocomplete-option {
//     margin: 0 0.5rem;
//     border-radius: 0.25rem;

//     &[aria-selected="true"] {
//       background-color: $admin-hover-color;

//       &.Mui-focused {
//         background-color: $admin-hover-color;
//       }
//     }
//   }
// }
