@use "../../scss/" as *;

.banner {
  height: 50vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
  }
}

.movie-content {
  @include flex(flex-start, flex-start);
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  position: relative;
  padding: 0 2rem;

  &__poster {
    flex: 1;

    @include mobile {
      display: none;
    }

    &__img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: $border-radius;
      padding-top: 170%;
    }
  }

  &__info {
    width: 70%;
    padding-left: 2rem;
    position: relative;

    @include mobile {
      width: 100%;
      padding-left: 0;
    }

    & > * {
      margin-bottom: 1.8rem;
    }

    .title {
      font-size: 4rem;
      line-height: 1;
    }

    .cast {
      margin-bottom: 1.5rem;
    }
  }
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;

  button {
    border-radius: 1.2rem;
    padding: 10px 50px;
    margin-right: 15px;
  }

  .play-button {
    svg {
      padding-right: 10px;
    }
  }
}
