@use "../../scss/" as *;

.video-list-container {
  .video-item-container {
    .thumbnail-container {
      position: relative;
      aspect-ratio: 16 / 9;
      border-radius: 12px;

      img {
        height: 100%;
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
      }
    }

    .video-title {
      color: whitesmoke;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 0.8rem;
    }

    &:hover {
      .small-play-button {
        transform: translate(-50%, -50%) scale(1);
      }

      .overlay-component-container {
        opacity: 1;
      }
    }
  }
}
