@use "../../scss/" as *;

.login-container {
  font-size: 16px;
  * {
    box-sizing: content-box;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: normal;
  }

  a {
    text-decoration: underline;
    color: initial;
  }

  width: 100%;
  height: 100vh;

  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc3/netflixteaser.png");
  background-size: cover;

  display: flex;
  flex-flow: column;

  .body-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      height: 417px;
      width: 420px;
      border-radius: 0.5rem;
      padding: 35px 30px;
      background-color: #0b0b0bbc;
      color: rgb(247 247 247);
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 18px;

      h1 {
        margin: 0;
        margin-bottom: 10px;
        font-weight: normal;
      }

      label {
        margin-top: 15px;
        margin-bottom: 9px;
        text-align: left;
        color: rgb(154 154 154);
      }

      .input-container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
          height: 27px;
          width: 100%;
          border-radius: 0.25rem;
          border: none;
          padding: 0.75rem;
          padding-right: 45px;
          background-color: rgba(53, 53, 53, 0.779);
          color: rgb(247 247 247);
          cursor: text;

          font-size: 18px;
        }

        input:focus {
          outline: 2px solid #eea83d;
        }

        input[type="password"]:not(:placeholder-shown) {
          font-weight: bolder;
        }

        .icon {
          font-size: 26px;
          position: absolute;
          display: flex;
          top: 0;
          height: 100%;
          right: 0;
          padding: 0 10px;
          align-items: center;
          justify-content: center;
        }

        .invalid-input {
          outline: 2px solid #ee5360;
        }

        .invalid-icon {
          color: #ee5360;
        }
      }

      .hidden {
        display: none;
      }

      .error-message {
        font-size: 15px;
        color: #ee5360;
        text-align: left;
        margin: 0;
        margin-top: 10px;
      }

      .signin-button {
        font-size: 20px;
        font-weight: 500;

        border: none;
        border-radius: 0.25rem;
        padding: 1rem 2rem;

        margin-top: 30px;
        margin-bottom: 30px;
        color: #000;
        background-color: #4d4d4d;
        cursor: pointer;
      }

      .signin-button:focus {
        outline: none;
        box-shadow: 0 0 10px whitesmoke;
      }

      .signin-button:enabled {
        background-color: #eea83d;
      }

      .signin-button:enabled:hover {
        background-image: linear-gradient(147deg, #eea83d, #eb8b4c);
      }

      .signup-link {
        color: #eea83d;
        margin-left: 5px;
      }

      .signup-link:hover {
        color: #eb8b4c;
      }
    }
  }
}
