@use "../../../scss/" as *;

.upsert-person-container {
  padding: 1rem;

  .upsert-person-inputs-wrapper {
    padding: 2rem 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;

    ._id-person-input,
    .name-person-input {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .gender-person-input,
    .job-person-input {
      grid-row-start: 3;
      grid-row-end: 4;
    }

    .dob-person-input,
    .pob-person-input {
      grid-row-start: 4;
      grid-row-end: 5;
      align-self: flex-end;
    }

    .avatarUrl-person-input,
    .images-person-input,
    .biography-person-input {
      grid-column-start: 3;
      grid-column-end: 5;
    }

    .avatarUrl-person-input {
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .biography-person-input {
      grid-row-start: 3;
      grid-row-end: 5;
    }
  }

  .upsert-person-footer {
    float: right;
    padding: 0 2.5rem 3rem;

    .submit-button {
      padding: 0.5rem 3rem;

      &:not(.Mui-disabled) {
        background-color: $logo-color;
      }
    }
  }

  .MuiBackdrop-root {
    z-index: 1000;
  }

  .MuiCircularProgress-root {
    color: $main-color;
  }
}
