@use "../../../scss/" as *;

.user-area-chart {
  flex: 4;

  margin-left: 2rem;
  padding: 2rem;
  color: gray;

  .chart-select {
    margin-bottom: 1.2rem;
    // text
    color: $text-color;
    font-family: $font-family;
    font-size: 1.1rem;
    font-weight: 700;

    .MuiSelect-select {
      padding: 0 2.3rem 0 0;
    }

    svg {
      color: $main-color;
      font-size: 2rem;
    }

    fieldset {
      border: none;
    }
  }
}
