@use "../../../scss/" as *;

.add-button {
  height: fit-content;
  padding: 0.5rem 0.75rem;
  background-color: $main-color;
  border: 1px solid transparent;
  border-radius: 0.45rem;
  // text
  color: white;
  font-family: $font-family;
  font-size: 0.8rem;
  font-weight: 500;
  // animation
  transition: all 0.2s;

  svg {
    margin-right: 0.75rem;
  }

  &:hover {
    background-color: $logo-color;
  }

  &:active {
    background-color: $main-color;
  }
}
