.MuiAvatar-colorDefault {
  background-color: #f3f5f9;
  color: #4d5663;
}

.small-avatar {
  font-size: 0.875rem;
  height: 2rem;
  width: 2rem;
}

.standard-avatar {
  font-size: 1rem;
}

.large-avatar {
  height: 3rem;
  width: 3rem;
}
