.admin-role-cell,
.user-role-cell {
  width: 50%;
  padding: 0.25rem;
  border-radius: 5px;
  text-align: center;
  float: inline-end;
}

.admin-role-cell {
  color: goldenrod;
  background-color: rgba(189, 189, 3, 0.103);
}

.user-role-cell {
  color: green;
  background-color: rgba(0, 128, 0, 0.151);
}
