@use "../../../scss/" as *;

.summary-widget-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  padding: 2rem;

  .header-container {
    flex: 0 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      margin-left: auto;
      font-size: 1.1rem;
      transition: color 0.2s, transform 0.4s;

      &:hover {
        color: $admin-main-color;
        transform: rotate(270deg);
      }
    }
  }

  .content-container {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    .total-users-amount {
      padding: 1rem 0;
      color: $admin-main-color;
      font-size: 3.5rem;
      font-weight: 600;
    }

    .summary-items-container {
      width: 100%;
      display: grid;
      grid-template-rows: auto auto;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
      gap: 0.5rem;
      margin-top: 2rem;

      .summary-item {
        svg {
          margin-right: 0.25rem;
        }

        &.title-item {
          font-size: 1rem;
          font-weight: 700;
        }

        &.increased-amount {
          color: lightgreen;
        }

        &.decreased-amount {
          color: lightcoral;
        }
      }
    }
  }
}
