.overlay-component-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: rgba($color: #0f0f0f, $alpha: 0.3);
  transition: all 0.2s;
  opacity: 0;
  cursor: pointer;
}
