.season-cell {
  color: #989898;
  font-size: 0.8rem;
  position: relative;

  .thumbnail {
    position: relative;

    img {
      width: 100%;
      border-radius: 1rem;
      transition: opacity 0.3s ease;
    }

    .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
  }

  &:hover {
    .thumbnail img,
    .itemInfo {
      opacity: 0.4;
    }

    .btn {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .itemInfo {
    transition: opacity 0.3s ease;

    label {
      color: white;
      font-size: 1.2rem;
      font-weight: 500;
    }

    .miniInfo {
      margin-top: 5px;

      span {
        padding-right: 0.8em;
        float: right;
      }

      .episode-span {
        float: left;
      }
    }
  }
}
