@use "../../../scss/" as *;

.data-page-container {
  padding: 1.5rem;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;

  .data-page-top-container {
    flex: 0;
    display: flex;
    flex-direction: column;

    h1 {
      margin: 0;
      line-height: 1;
    }
    .data-page-tool-bar {
      display: flex;
      margin-top: 1.5rem;
      position: relative;

      .view-items-search-bar {
        width: 25%;
      }

      button {
        margin-left: auto;
        align-self: flex-end;
      }
    }
  }

  .data-page-table-container {
    flex: 2;
    margin-top: 1rem;
    border-radius: 0.25rem;
  }
}

.confirm-modal-container {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: white;
  color: $text-color;
  text-align: center;

  .confirm-modal-buttons {
    margin-top: 1rem;

    button {
      text-transform: capitalize;
      margin: 0 10px;
      border-radius: 6px;
      font-size: 1rem;
      font-weight: normal;
      font-family: $font-family;
    }

    .cancel-button {
      color: gray;

      &:hover {
        background-color: rgba(211, 211, 211, 0.2);
      }
    }
  }
}
