$body-bg: #0f0f0f;
$main-color: #ff0000;
$txt-color: #fff;

$admin-main-color: #7451f8;
$admin-hover-color: #ece8ff;
$admin-logo-color: #6439ff;
$admin-header-color: #999;
$admin-text-color: #888;
$admin-divider-color: rgb(230, 227, 227);
$admin-divider-border: 0.5px solid rgb(230, 227, 227);
$admin-transparent-background: rgba(
    $color: white,
    $alpha: 0.7,
  )
  none repeat scroll 0% 0%;

$admin-sidebar-desktop-width: 13rem;
$admin-sidebar-tablet-width: 4rem;
$admin-sidebar-mobile-height: 4rem;
$admin-header-height: 4rem;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
